<?php

$aliases['{{ item.name }}'] = array(
  'uri' => '{{ item.uri }}',
  'root' => '{{ item.root }}',
  'remote-host' => '{{ item.remote_host }}',
  'remote-user' => '{{ item.remote_user }}',
  'ssh-options' => '{{ drush_aliases_ssh_options }}',
);
